{{>header}}
{{>navbar}}

<section class="container my-5">
    <h3 class="text-primary">Add New Customer</h3>
<form method="post">
    <div class="mb-3 ">
        <input name="name" placeholder="name" class="form-control">
    </div>
    <div class="mb-3">
        <input name="balance" placeholder="balance" class="form-control">
    </div>
    <div class="mb-3">
        <input name="age" placeholder="age number" class="form-control">
    </div>

    <div class="mb-3">
        <input type="submit" value="add Customer" class="btn btn-primary">
    </div>
</form>

</section>

{{>footer}}