{{>header}}
{{>navbar}}

<section class="container my-5">
      <form method="POST">
        <div class="mb-3 ">
                <input name="name" placeholder="name" class="form-control" value="{{client.name}}">
            </div>
            <div class="mb-3">
                <input name="balance" placeholder="balance" class="form-control" value={{client.balance}}>
            </div>
            <div class="mb-3">
                <input name="age" placeholder="age" class="form-control" value="{{client.age}}">
            </div>

            <div class="mb-3">
                <input type="submit" value="add Customer" class="btn btn-primary">
            </div>      
            
            </form>
</section>